<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268148718281-kbfanjk9v85jnhdmfb50mbdql9amhhc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268148718281-kbfanjk9v85jnhdmfb50mbdql9amhhc5</string>
	<key>API_KEY</key>
	<string>AIzaSyCuYqRimgxuLGhl1jiQWBYn22KFoQ5aNP8</string>
	<key>GCM_SENDER_ID</key>
	<string>268148718281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uzi.FirebaseMongoProtoyping</string>
	<key>PROJECT_ID</key>
	<string>fbmg-test</string>
	<key>STORAGE_BUCKET</key>
	<string>fbmg-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268148718281:ios:7488e70d32bcc7ebc42b18</string>
</dict>
</plist>